:root {
    --black: #000000;
    --black-soft: #1E1E1E;
    --black-muted: #242424;
    --gray: #444444;
    --gray-muted: #414141;
    --gray-dark: #3F3F3F;
    --gray-darker: #303030;
    --gray-mid-dark: #363636;
    --gray-deep: #2C2C2C;
    --white: #FFFFFF;
    --white-light: #EEEEEE;
    --white-soft: #EDEDED;
    --white-muted: #E4E4E4;
    --white-gray: #E2E2E2;
    --white-gray-dark: #C9C9C9;
    --white-gray-darker: #C2C2C2;
    --green: #5DA36F;
    --green-accent: #5CA76B;
    --green-bright: #82CA90;
    --green-light: #A6CFB0;
    --green-soft: #A2D5AC;
    --green-pale: #CDE5D3;
    --green-muted: #6A9272;
    --green-dark: #488056;
    --green-deep: #4B6151;
    --green-darker: #3F4D42;
}