@import url("./root.css");

* {
    transition: 0.1s ease-in-out;
}

body {
    background-color: var(--white-soft);
}
body.dark {
    background-color: var(--black-soft);
}

.container-fluid {
    width: calc(100% - 8%);
    max-width: 1289px;
    margin: 0 auto;
    padding: 0;
}

#about-me, #skills,
#projects, #certifications {
    color: var(--gray-mid-dark);
    border-top: 1px solid var(--white-gray-dark);
    border-bottom: 1px solid var(--white-gray-dark);
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body.dark #about-me, body.dark #skills,
body.dark #projects, body.dark #certifications {
    color: var(--white);
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    background-color: var(--gray-deep);
}

/* Sobre mim */
#about-me {
    margin-top: 142px;
}

#about-me .container-fluid {
    display: flex;
    padding: 92px 0;
    justify-content: space-between;
}

#about-me article {
    display: flex;
    flex-direction: column;
    width: 54%;
}

#about-me article h1 {
    font-weight: 600;
    margin-top: auto;
}

#about-me article p {
    font-size: 22px;
}

#about-me article p a {
    color: var(--gray-mid-dark);
    text-decoration: none;
    border-bottom: 1px solid var(--gray-mid-dark);
}
body.dark #about-me article p a {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

#about-me article p a:hover,
body.dark #about-me article p a:hover {
    color: var(--green);
    border-bottom: 1px solid var(--green);
}

#about-me article #view-resume {
    width: 350px;
}

#about-me article button {
    width: 350px;
    color: #414141;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    padding: 22px 0;
    border-radius: 6px;
    border: 1px solid var(--white-gray-darker);
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body.dark #about-me article button {
    color: var(--white);
    border: 1px solid var(--gray);
    background-color: var(--black-muted);
}
#about-me article button:hover {
    color: rgb(26, 26, 26);
    transform: scale(1.04);
}

#about-me article div {
    display: flex;
    margin-top: 14px;
    margin-bottom: auto;
}

#about-me article div a {
    font-size: 38px;
    color: var(--gray-muted);
    padding: 3px 14px 4px 14px;
    border-radius: 6px;
    border: 1px solid var(--white-gray-darker);
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body.dark #about-me article div a {
    color: var(--white);
    border: 1px solid var(--gray);
    background-color: var(--black-muted);
}

#about-me article div a:hover {
    color: rgb(26, 26, 26);
    transform: scale(1.05);
}

#about-me article div a:not(:last-child) {
    margin-right: 10px;
}

#about-me aside {
    position: relative;
    width: 38%;
    max-height: 470px;
    border-radius: 100%;
    padding: 6px;
    border: 2px solid var(--white-gray-dark);
    background-color: var(--green);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    animation: float 2s ease-in-out infinite;
}
body.dark #about-me aside {
    border: 2px solid var(--gray);
}

#about-me aside #circle {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid var(--white);
    background-color: var(--green);
    bottom: 50px;
    right: 34px;
}
body.dark #about-me aside #circle {
    border: 4px solid var(--gray-deep);
}

#about-me aside img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 4px solid var(--white);
    padding: 6px;
}
body.dark #about-me aside img {
    border: 4px solid var(--gray);
}

#about-me article p a {
    color: var(--gray-mid-dark);
    text-decoration: none;
    border-bottom: 1px solid var(--gray-mid-dark);
}
body.dark #about-me article p a {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

#about-me article p a:hover,
body.dark #about-me article p a:hover {
    color: var(--green);
    border-bottom: 1px solid var(--green);
}

/* Competências */
#skills, #projects, #certifications {
    margin-top: 55px;
}

#skills .container-fluid, #projects .container-fluid, #certifications .container-fluid {
    padding: 52px 0 72px 0;
}

#skills h2, #projects h2, #certifications h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#skills #skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid;
    padding: 30px 0 50px 20px;
    border: 2px solid var(--green-light);
    background-color: var(--green-pale);
}
body.dark #skills #skill-list {
    border: 2px solid var(--green-deep);
    background-color: var(--green-darker);
}

#skills #skill-list .skill {
    width: calc(12% - 20px);
    padding: 15px 14px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid var(--color-border-light);
    fill: rgb(22, 22, 22);
    background-color: var(--green-soft);
    box-shadow: #408D53 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
body.dark #skills #skill-list .skill {
    border: 1px solid var(--green-muted);
    background-color: var(--green-muted);
    box-shadow: #476e50 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#skills #skill-list .skill:hover {
    fill: var(--black);
    background-color: var(--green-accent);
    transform: scale(1.05);
}
body.dark #skills #skill-list .skill {
    background-color: var(--green-bright);
}

/* Projetos */
#projects #search {
    margin-bottom: 20px;
    border-radius: 30px;
    color: var(--gray-mid-dark);
    border: 1px solid var(--white-gray-dark);
    background-color: var(--white);
}
body.dark #projects #search {
    color: var(--white);
    border: 1px solid var(--gray);
    background-color: var(--gray-deep);
}

#projects #search label {
    display: flex;
    padding: 0 0 0 12px;
    border-radius: 30px;
}

#projects #search label i {
    font-size: 20px;
    padding: 10px 14px 12px 10px;
}

#projects #search label #input-search {
    width: 100%;
    color: var(--gray-mid-dark);
    padding-right: 18px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--white);
}
body.dark #projects #search label #input-search {
    color: var(--white);
    background-color: var(--gray-deep);
}
/* Remove a borda de #input-search quando estiver em foco */
#projects #search label #input-search:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: initial !important;
}

/* Personalizando o "X" do #input-search */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="gray" viewBox="0 0 24 24"><path d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7a1 1 0 1 0-1.41 1.41L10.59 12l-4.89 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.89a1 1 0 0 0 1.41-1.41L13.41 12l4.89-4.89a1 1 0 0 0 0-1.4z"/></svg>') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    opacity: 0.7;
}
input[type="search"]::-webkit-search-cancel-button:hover {
    opacity: 1;
}

/* Personalizando o efeito de foco na barra de pesquisa */
#search:focus-within {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
    transition: box-shadow 0.2s ease;
}

#projects .container-fluid #error-message {
    display: none;
    padding: 28px;
    margin-bottom: 14px;
    border: 1px solid var(--white-gray-dark);
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body.dark #projects .container-fluid #error-message {
    border: 1px solid var(--gray);
    background-color: var(--gray-deep);
}

/* Projetos */
#projects #project-list {
    padding: 14px 14px 0 14px;
    border: 1px solid var(--white-gray-dark);
    background-color: var(--white-muted);
}
body.dark #projects #project-list {
    border: 1px solid var(--gray);
    background-color: var(--black-muted);
}

#projects #project-list .project {
    display: flex;
    padding: 28px 28px 32px 28px;
    margin-bottom: 14px;
    border: 1px solid var(--white-gray-dark);
    background-color: var(--white);
}
body.dark #projects #project-list .project {
    border: 1px solid var(--gray);
    background-color: var(--gray-deep);
}

#projects #project-list .project:hover {
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#projects #project-list .project.layout-a article,
#projects #project-list .project.layout-b article {
    width: 50%;
}

#projects #project-list .project.layout-c article {
    width: 100%;
}

#projects #project-list .project aside {
    width: 44%;
}

#projects #project-list .project.layout-a,
#projects #project-list .project.layout-b {
    justify-content: space-between;
}

#projects #project-list .project.layout-b article {
    order: 1;
}

#projects #project-list .project h4 {
    color: var(--green);
}

#projects #project-list .project p a {
    color: var(--green);
    text-decoration: none;
}

#projects #project-list .project p a:hover {
    color: var(--green-dark);
    text-decoration: underline;
}

#projects #project-list .project button {
    font-weight: bold;
    border-radius: 12px;
    padding: 14px 24px;
    margin-right: 10px;
    border: 1px solid var(--white-gray-dark);
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body.dark #projects #project-list .project button {
    color: var(--white);
    border: 1px solid var(--gray);
    background-color: var(--black-muted);
}

#projects #project-list .project button:hover {
    background-color: var(--white-light);
}
body.dark #projects #project-list .project button:hover {
    background-color: var(--gray-dark);
}

#projects #project-list .project aside img {
    width: 100%;
    height: 100%;
    border: 4px double var(--white-gray-dark);
}
body.dark #projects #project-list .project aside img {
    border: 4px double var(--gray);
}

#projects #project-list .project aside img:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Certificações */
#certifications #certification-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#certifications #certification-list .certification {
    width: 49.5%;
    border-radius: 8px;
    padding: 30px 30px 20px 30px;
    margin-bottom: 14px;
    border: 1px solid var(--white-gray-dark);
    background-color: var(--white);
}
body.dark #certifications #certification-list .certification {
    border: 1px solid var(--gray);
    background-color: var(--black-muted);
}

#certifications #certification-list .certification:hover {
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#certifications #certification-list .certification h5 {
    color: var(--green);
}



/* Responsividade */
@media screen and (max-width: 1280px) {
    #about-me article {
        width: 54%;
    }
    #about-me aside {
        width: 42%;
    }
}

@media screen and (max-width: 1260px) {
    #skills #skill-list {
        padding: 15px 0 35px 20px;
    }

    #skills #skill-list .skill {
        width: calc(14% - 20px);
        margin-right: 20px;
    }
}

@media screen and (max-width: 1130px) {
    #projects #project-list .project.layout-a article,
    #projects #project-list .project.layout-b article {
        width: 49%;
    }

    #projects #project-list .project aside {
        width: 47%;
    }
}

@media screen and (max-width: 1120px) {
    #projects #project-list {
        padding: 0;
        border: none;
        background-color: var(--white);
    }
    body.dark #projects #project-list {
        border: none;
        background-color: var(--gray-deep);
    }

    #projects #project-list .project {
        padding: 0;
        border-radius: 12px;
    }
    body.dark #projects #error-message,
    body.dark #projects #project-list .project {
        background-color: var(--black-muted);
    }

    #projects #project-list article {
        padding: 24px 38px 38px 38px;
    }

    #projects #project-list .project.layout-a,
    #projects #project-list .project.layout-b {
        justify-content: start;
        flex-direction: column;
    }

    #projects #project-list .project.layout-a article,
    #projects #project-list .project.layout-b article {
        width: 100%;
        order: 2;
        border-top: 2px solid var(--white-gray-dark);
    }
    body.dark #projects #project-list .project.layout-a article,
    body.dark #projects #project-list .project.layout-b article {
        border-top: 2px solid var(--gray);
    }

    #projects #project-list .project aside {
        width: 100%;
        height: 450px;
        order: 1;
    }
    
    #projects #project-list .project aside img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
}

@media screen and (max-width: 1100px) {
    #about-me article {
        width: 50%;
    }
    #about-me aside {
        width: 44%;
    }
}

@media screen and (max-width: 1076px) {
    #about-me article {
        width: 48%;
    }
    #about-me aside {
        width: 47%;
    }
}

@media screen and (max-width: 1000px) {
    #about-me .container-fluid {
        flex-direction: column;
        padding: 62px 0;
    }

    #about-me article {
        width: 97%;
        order: 2;
        margin: 28px auto 0 auto;
    }

    #about-me article h1 {
        font-size: 44px;
        font-weight: bold;
        text-align: center;
    }

    #about-me article p {
        text-align: justify;
    }

    #about-me article #view-resume,
    #about-me article button {
        width: 100%;
    }

    #about-me article button {
        margin-bottom: 5px;
    }

    #about-me article div {
        justify-content: center;
    }

    #about-me aside {
        width: 54%;
        max-height: fit-content;
        order: 1;
        margin: 0 auto;
    }

    #skills #skill-list .skill {
        width: calc(19% - 20px);
        margin-right: 20px;
    }
}

@media screen and (max-width: 991px) {
    #about-me {
        margin-top: 82px;
    }

    #about-me aside {
        width: 58%;
    }

    #certifications #certification-list .certification {
        padding: 20px 20px 10px 20px;
    }
}

@media screen and (max-width: 900px) {
    #about-me aside {
        width: 64%;
    }
    
    #certifications #certification-list .certification {
        width: 100%;
        padding: 30px 30px 20px 30px;
    }
}

@media screen and (max-width: 850px) {
    #about-me aside {
        width: 68%;
    }
}

@media screen and (max-width: 768px) {
    #skills #skill-list {
        padding: 2px 0 22px 20px;
    }

    #skills #skill-list .skill {
        width: calc(20% - 20px);
        margin-right: 20px;
    }

    #projects #project-list .project article {
        padding: 14px 20px 28px 20px;
    }

    #certifications #certification-list .certification {
        padding: 14px 14px 4px 14px;
    }

    #projects #project-list .project aside {
        height: 400px;
    }
}

@media screen and (max-width: 700px) {
    #about-me aside {
        width: 74%;
    }
    
    #projects #project-list .project aside {
        height: 350px;
    }
}

@media screen and (max-width: 675px) {
    #projects #project-list .project button {
        width: 100%;
    }
    
    #projects #project-list .project button {
        margin-top: 8px;
    }
}

@media screen and (max-width: 650px) {
    #about-me aside {
        width: 78%;
    }
}

@media screen and (max-width: 600px) {
    #about-me aside #circle {
        width: 70px;
        height: 70px;
        right: 24px;
    }

    #skills #skill-list {
        padding: 0 0 16px 14px;
    }

    #skills #skill-list .skill {
        width: calc(20% - 14px);
        padding: 10px;
        margin-right: 14px;
        margin-top: 14px;
    }
    
    #projects #project-list .project aside {
        height: 300px;
    }
}

@media screen and (max-width: 556px) {
    #about-me article h1 {
        font-size: 34px;
        font-weight: 600;
    }

    #about-me article p {
        font-size: 20px;
    }

    #about-me aside #circle {
        width: 64px;
        height: 64px;
        right: 14px;
    }
}

@media screen and (max-width: 500px) {
    #about-me aside {
        width: 97%;
    }

    #about-me aside #circle {
        right: 28px;
    }

    #skills #skill-list .skill {
        width: calc(25% - 14px);
        margin-top: 15px;
    }

    #projects #project-list .project aside {
        height: 300px;
    }
}

@media screen and (max-width: 425px) {
    #about-me aside {
        width: 100%;
    }

    #about-me aside #circle {
        right: 18px;
    }

    #skills #skill-list .skill {
        width: calc(33% - 14px);
    }

    #projects #project-list .project aside {
        height: 240px;
    }
    
    #projects #project-list .project aside img,
    body.dark #projects #project-list .project aside img {
        border: none;
    }
}

@media screen and (max-width: 412px) {
    #about-me article h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 394px) {
    #about-me article {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    #about-me aside #circle {
        width: 58px;
        height: 58px;
        right: 12px;
        bottom: 40px;
    }

    #projects #project-list .project aside {
        height: 220px;
    }
}

@media screen and (max-width: 355px) {
    #about-me article h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 321px) {
    #about-me aside #circle {
        width: 48px;
        height: 48px;
        right: 15px;
        bottom: 30px;
    }
}

@media screen and (max-width: 320px) {
    #about-me .container-fluid {
        padding: 38px 0;
    }

    #about-me article p {
        text-align: center;
    }

    #skills #skill-list {
        padding: 0 0 12px 10px;
    }

    #skills #skill-list .skill {
        width: calc(33% - 10px);
        margin-right: 10px;
        margin-top: 12px;
    }

    #projects .container-fluid #error-message {
        padding: 16px;
    }

    #projects #project-list .project article {
        padding: 10px 16px 24px 16px;
    }
}
